@model Garage_app.Models.company

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.Category_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Company_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
