@model IEnumerable<Garage_app.Models.attendence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendence_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.present.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Attendence_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.present.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Attendence_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Attendence_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Attendence_Id })
            </td>
        </tr>
    }
</tbody>

</table>
<script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
</script>