<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="~/Content/datatable.css" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />
    
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
        </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Employee", "Index", "employees", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Customer", "Index", "customers", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Advance", "Index", "advances", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Attendence", "Index", "attendences", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Salary", "Index", "salaries", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Categoey", "Index", "categories", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Company", "Index", "companies", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Product", "Index", "products", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Purchase", "Index", "purchases", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div style="width:95%;margin: 0 auto">
        <script src="~/scripts/jquery-1.10.2.min.js"></script>
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/scripts/bootstrap.min.js"></script>
        <script src="~/scripts/bootstrap.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.jqueryui.min.js"></script>



        <br>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>