@model IEnumerable<Garage_app.Models.employee>

@{
    ViewBag.Title = "Index";
}

<p>
    <button type="button" class="btn btn-default btn-sm" onclick="create_fun()">
        <span class="glyphicon glyphicon-plus-sign"></span> Create New
    </button>
</p>
<table class="display" id="example">
    <thead style="background-color:silver">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            <button type="button" class="btn btn-default btn-sm" onclick="edit_fun(@item.Employee_Id)">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="delete_fun(@item.Employee_Id)">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <button type="button" class="btn btn-default btn-sm" onclick="detail_fun(@item.Employee_Id)">
                <span class="glyphicon glyphicon-comment"></span> Detail
            </button>
        </td>
    </tr>
}
</tbody>
</table>
<div id="popup" class="modal">

</div>
<script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                lengthMenu: [
                [10, 25, 50, -1],
                ['10', '25', '50', 'Show all']
                ],
                buttons: [
                    {
                        extend: 'pdf',
                        title: "Employee Report",
                        exportOptions: {
                           columns: ':visible'
                        },
                    },
                    {
                        extend: 'excel',
                        title: "Employee Report",
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        title: "Employee Report",
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                   'colvis',
                    'pageLength'

                ]
            } );

        } );
    function create_fun()
    {

    document.getElementById('popup').style.display = 'block';
    $("#popup").load("Create");

       var modal = document.getElementById('popup');
       window.onclick = function (event) {
       if (event.target == modal) {
           modal.style.display = "none";
       }
       }
       $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
       $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function edit_fun(Employee_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("Edit?id=" + Employee_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";

            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
        $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function delete_fun(Employee_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("Delete?id=" + Employee_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
        $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function detail_fun(Employee_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("Details?id=" + Employee_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
       $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
</script>