@model IEnumerable<Garage_app.Models.employee>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="example">
    <thead style="background-color:silver">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employee_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employee_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employee_Id })
        </td>
    </tr>
}
</tbody>
</table>
<div id="popup" class="modal">

</div>
<script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                lengthMenu: [
                [10, 25, 50, -1],
                ['10', '25', '50', 'Show all']
                ],
                buttons: [
                    {
                        extend: 'pdf',
                        title: "Employee Report",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                    },
                    {
                        extend: 'excel',
                        title: "Employee Report",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        title: "Employee Report",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                   'colvis',
                    'pageLength'

                ]
            } );

        } );
    function create_fun()
    {

    document.getElementById('popup').style.display = 'block';
    $("#popup").load("Create");

       var modal = document.getElementById('popup');
       window.onclick = function (event) {
       if (event.target == modal) {
           modal.style.display = "none";
       }
       }
       $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
       $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function edit_fun(Category_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("categories/Edit?id=" + Category_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";

            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
        $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function delete_fun(Category_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("categories/Delete?id=" + Category_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
        $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
    function detail_fun(Category_Id) {
        document.getElementById('popup').style.display = 'block';
        $("#popup").load("categories/Details?id=" + Category_Id);
        var modal = document.getElementById('popup');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        $("#popup").css("top", ((window.screen.height - $("#popup").height()) / 2)*(-1));
       $("#popup").css("left", ((window.screen.width - $("#popup").width()) / 2));
    }
</script>