@model IEnumerable<Garage_app.Models.salary>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="display" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salary_Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advance_Cut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employee.Employee_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary_Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advance_Cut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Pay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.Employee_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Salary_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Salary_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Salary_Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
</script>